@model List<CycloneLens.Models.ViewModel>

<h2>Actieve Cyclonen - Noord-Atlantisch Bassin</h2>

<table class="table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Categorie</th>
            <th>Bassin</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cycloon in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Metadata" asp-action="Details" asp-route-id="@cycloon.Id">
                        @cycloon.Naam
                    </a>
                </td>

                <td>@cycloon.Categorie.ToString().Replace("_", " ")</td>

                <td>@cycloon.Bassin.ToString().Replace("_", " ")</td>

                <td>@cycloon.Status.ToString().Replace("_", " ")</td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Update" method="post">
    <input type="hidden" name="Id" value="1" />
    <input type="text" name="Naam" value="TestUpdate" />
    <input type="hidden" name="Status" value="Actief" />
    <input type="hidden" name="Bassin" value="Noord_Atlantisch" />

    <input type="hidden" name="Categorie" value="Categorie_1" />
    <input type="hidden" name="Windsnelheid" value="100" />
    <input type="hidden" name="Luchtdruk" value="950" />
    <input type="hidden" name="Longitude" value="10" />
    <input type="hidden" name="Latitude" value="20" />

    <button type="submit">TEST UPDATE</button>
</form>
